<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0" >
    <meta name="description" content="Handicapped Assistance">
    <meta name="author" content="NONE">
    <title>Spark Analysis</title>
    <link href="{{ url_for('static',filename='styles/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>  
    <!-- <link href="main_css.css" type="text/css" rel="stylesheet"></link> -->
  </head>

  <body>
    
    <div class="container-fluid">
    <!-- FOR NAVBAR -->
      <nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Spark Analysis</a>
            </div>
          </div>
      </nav>  

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <div class="container-fluid">
    <h3 style="margin-left: 20%"><i class="fa fa-list-ul" aria-hidden="true" style="margin:4px"></i>Graphs</h3>
    <div class="row" style="height:40%">
      <div class="wrapper" >
               <ul class="pagination">
                 <li class="active"><a href="#">January-March</a></li>
                 <li><a href="#">April-June</a></li>
                 <li><a href="#">July-September</a></li>
                 <li><a href="#">October-December</a></li>
            </ul> 
          </div>
      </div>
    </div>  


    <div class="container-fluid">
      <div class="row">
        <div>
          <canvas id="lineChart" width="900px" height="500px"></canvas>
        </div>
      </div>
    </div>  

    <form method="POST" action="/analyse">
    <button type="submit" class="btn btn-primary">Analyse</button>
    </form>
    <script src="{{ url_for('static', filename='chartjs.js') }}"></script>

  </body>

    <p id='test'></p>
</html>

<style type="text/css">
  .wrapper {
    text-align: center;
  }
  .button{
    /*position: absolute;*/
    top:50%;
  }
  .drop{
    text-align: center;
  }
  canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
button {
  margin:5em;
  float:right;
}
</style>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            
            socket.on('connect', function(msg) {
                socket.emit('my event', {data: 'I\'m connected!'});
            });

            var x = '';
            socket.on('message', function(msg){
                console.log(msg.time)
                x = x + '<p>' + msg.time + '</p>';
                $('#test').html(x);             
            });
          
        });
    </script>